.resultado {
    background: rgb(16, 175, 16);
    color: white;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: .5rem;
}
.problema {
    background: rgb(241, 66, 13);
    color: white;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: .5rem;
}